{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todo List App</h1>

    <div>
        <form class="inline-form">
            <input type="text" class="form-control mb-2 mr-sm-2" id="taskDetailsInput" placeholder="Enter task here" ng-model="taskdetails">
            <button class="btn btn-success mb-2" type="submit" ng-click="submitTaskForm()">Submit</button>
        </form>
    </div>

    <div>
        <h3>To-do Items</h3>
        <div>
            <div ng-repeat="task in tasks">
                <span>{{ task.task_details }}</span>
                <a href="#" class="badge badge-info" ng-click="editTask(task.id)">Edit</a>
                <a href="#" class="badge badge-danger" ng-click="deleteTask(task.id)">Delete</a>
            </div>

            <p ng-if="!tasks.length">
                There are no tasks available
            </p>
        </div>

    </div>
{% endblock %}
